//
// CUSTOM VARIABLES
//
$cooltrast: #512888;

//
// BOOTSTRAP OVERRIDE
//
$text-color: #4D4E53;

$link-color: $cooltrast;

$font-family-sans-serif: "Open Sans", "Helvetica",  sans-serif;
$font-family-base: $font-family-sans-serif;

$breadcrumb-separator: ">";
