@import "bootstrap/bootstrap/variables";

@import "compass";

@import "variables";

/*!
 * Custom CSS for HE2 Indiegogo campaign
 * Copyright 2016 NeoArt Labs LLC
 */
body {
  background-attachment: fixed;
  background-image: url("http://s1.picswalls.com/wallpapers/2015/11/22/cyberpunk-wallpaper_102105675_292.jpg");
  background-size: cover;
}

main > .container {
  position: relative;

  > .container {
    background: #FFF;
    max-width: 640px;
    padding-bottom: 8px;
  }
}

p strong {
  @include single-text-shadow(1px, 1px, 0, 0, rgba(#333, 0.333));
  color: lighten($text-color, 5%);
}

.strong-link {
  font-weight: 600;
}

%cool-divider {
  @include single-box-shadow(0, 4px, 6px, -4px, rgba(#000, 0.33));
  border-bottom: 1px solid rgba($cooltrast, 0.66);
  display: block;
}

h1,
h2 {
  @extend %cool-divider;
  font-family: $font-heading;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

#videos {
  .video-placeholder {
    background: #333;
    display: block;
    height: auto;
    margin-bottom: 20px;
    max-width: 100%;
    min-height: 240px;
  }
}

#features {
  .feature {
    margin-top: 10px;

    .feature-title {
      margin: 4px 0;
      padding: 3px 0;
    }
  }
}

#team {
  .team-member {
    display: flex;
    margin: 20px 0 0;
    width: 100%;

    .profile-img {
      flex: 1;
      max-width: 33%;

      img {
        @include single-box-shadow(0, 0, 4px, 0, rgba(#000, 0.5));
        border-radius: 16px;
      }
    }

    .profile-bio {
      flex: 1;
      padding: 0 8px 0 16px;
    }

    .member-name {
      font-size: 1.45em;
      line-height: 0.75;
      padding-bottom: 3px;
    }

    .member-role {
      @extend %cool-divider;
      margin-bottom: 2px;
      padding-bottom: 2px;
    }

    .member-bio {
      font-size: 0.9em;
      padding: 3px 0;

      p::first-letter {
        font-size: 1.15em;
        margin-right: 1px;
      }
    }

    .member-social {
      text-align: center;

      a {
        @include single-text-shadow(1px, 1px, 0, 0, rgba(#333, 0.5));
        font-size: 1.8em;
        text-decoration: none;
      }
    }
  }
}

#contact {
  ul {
    list-style: none;
    padding-left: 8px;
  }

  .socialite {
    a {
      @include single-text-shadow(1px, 1px, 0, 0, rgba(#333, 0.5));
      color: #777;
      margin: 8px;
      text-decoration: none;

      &:hover {
        color: $cooltrast;
      }
    }
  }
}

#facts {
  background: rgba(#E6E6E6, 0.85);
  background-image: image-url("farmer.png");
  margin: 16px 0;
  max-width: 320px;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  top: 0;

  @media (max-width: $screen-md-max) {
    display: none;
  }

  h1 {
    margin: 4px 0;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;

    &.buttons li {
      display: inline-block;
      margin: 0 3px;

      a {
        @include single-text-shadow(1px, 1px, 0, 0, rgba(#333, 0.5));
      }
    }
  }

  .fact {
    margin: 10px 0;
  }
}
