/*!
 * Custom CSS for HE2 Indiegogo campaign
 * Copyright 2016 NeoArt Labs LLC
 */
.container {
  max-width: 640px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

#videos {
  .video-placeholder {
    background: #333;
    display: block;
    height: auto;
    margin-bottom: 20px;
    max-width: 100%;
    min-height: 240px;
  }
}

#features {
  .feature {
    margin-top: 10px;

    .feature-title {
      background: #EEE;
    }
  }
}

#team {
  .team-member {
    margin-top: 20px;

    .member-info {
      min-height: 320px;
      padding-left: 30px;

      .member-name p {
        font-weight: bold;
        margin: 0;
        padding: 5px 0 0;
      }

      .member-role p {
        color: #777;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }

      .member-bio {
        p {
          margin: 10px 0 0;

          &:first-child {
            margin: 15px 0 0;
          }
        }
      }

      .member-social {
        bottom: 10px;
        padding-top: 20px;
        position: absolute;

        a {
          color: #777;
          margin-right: 20px;
          outline: 0;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .img-placeholder {
      background-color: #333;
      display: block;
      height: 320px;
      width: 320px;
    }
  }
}

#contact {
  a {
    color: #444;
    display: block;
    outline: 0;
    text-decoration: none;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  .socialite {
    a {
      color: #777;
      display: inline;
      margin-right: 20px;

      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

#facts {
  background: #DDD;
  margin-top: 50px;
  min-height: 800px;

  .fact-label {
    color: #F00;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .fact-table {
    margin: 20px 10px 0;
    text-align: center;

    .fact-title {
      color: #222;
      font-weight: bold;
    }

    .fact-desc {
      display: block;
      margin-bottom: 20px;
    }

    .fact-social {
      a {
        color: #777;
        display: inline;
        margin: 0 3px;

        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}
