include metatags

block variables

doctype html
html(lang="en")
  head
    block title
      title Hacker Experience 2 - Press Kit

    block styles
      if env == "prod"
        +stylesheet("https://fonts.googleapis.com/css?family=Open+Sans:400,700")
      +stylesheet("assets/css/vendor.css")
      +stylesheet("assets/css/custom.css")

  body: .body-container
    include header

    main(role="main")
      block content

    include footer

    block scripts
