include metatags

block variables

doctype html
html(lang="en")
  head
    block title
      title Hacker Experience 2 - Press Kit

    block styles
      if env == "prod"
        +stylesheet("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400")
      +stylesheet(baseUrl + "assets/css/vendor.css")
      +stylesheet(baseUrl + "assets/css/custom.css")

  body: .body-container
    include header

    main(role="main")
      block content

    include footer

    block scripts
      //- if env == "prod"
        +javascript("https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
      //- else
        +javascript("/assets/js/vendor/jquery.min.js")
