block variables

include metatags

doctype html
html(lang="en")
  head
    block title
      title Hacker Experience 2 - Press Kit

    block styles
      if env == "prod"
        +stylesheet("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quantico:400")
      +stylesheet("assets/css/vendor.css")
      +stylesheet("assets/css/custom.css")

  body: .body-container
    include header

    main(role="main")
      block content

    include footer

    block scripts
      if env == "prod"
        +javascript("https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        +javascript("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
      else
        +javascript("assets/js/vendor/jquery.js")
        +javascript("assets/js/vendor/bootstrap.js")
      +javascript("assets/js/custom.js")
