//
// CUSTOM VARIABLES
//
$font-default: "Open Sans", "Helvetica",  sans-serif;

// $cor-aux-1: #385D5C;
$cor-aux-1: #277455;
$cor-aux-2: #D4645C;
$brand-secondary: #0284A2;

$document-nav-color-1: #277455;

$document-nav-padding-base: 6px;

//
// BOOTSTRAP OVERRIDE
//
$brand-primary: #D89601;

$link-color: $brand-secondary;

$font-family-sans-serif: $font-default;
$font-family-base: $font-family-sans-serif;

$headings-font-weight: 400;

$breadcrumb-separator: ">";
