h2 Assets

.trailer-video-container
  img(src="http://placehold.it/900x600").img.img-responsive

.photo-gallery
  .row
    .col-xs-12.col-sm-6: img(src="http://placehold.it/900x600" data-lightbox="assets").img.img-responsive
    .col-xs-12.col-sm-6: img(src="http://placehold.it/900x600").img.img-responsive
  .row
    .col-xs-12.col-sm-6: img(src="http://placehold.it/900x600").img.img-responsive
    .col-xs-12.col-sm-6: img(src="http://placehold.it/900x600").img.img-responsive
  .row
    .col-xs-12.col-sm-6: img(src="http://placehold.it/900x600").img.img-responsive
    .col-xs-12.col-sm-6: img(src="http://placehold.it/900x600").img.img-responsive
