h2 Contact us
.row
  .col-xs-6
    h3 General
    ul.links
      li: a(href="#") contact@hackerexperience.com
      li: a(href="tel:18444225953" title="Toll free") 1 844-HACKEREXP
      li 105 N First St #429 - San Jose, CA

  .col-xs-6
    h3 Media inquiries
    ul.links
      li: a(href="#") press@hackerexperience.com
      li: a(href="tel:18444225953" title="Toll free") 1 844-HACKEREXP
      li: a(href="tel:14158004943") 1 415-800-4943

  .col-xs-6
    h3 Links
    ul.links
      li: a(href="https://hackerexperience.com") Official website
      li: a(href="https://leaks.hackerexperience.com") Blog
      li: a(href="https://letsbuildagame.org") Let's build a game
      li: a(href="#") Crowdfunding campaign
  .col-xs-6
    h3 Social
    .socialite
      a(href="#")
        .fa.fa-facebook-square.fa-3x
      a(href="#")
        .fa.fa-twitter.fa-3x
      a(href="#")
        .fa.fa-google-plus.fa-3x
      a(href="#")
        .fa.fa-github.fa-3x
