h1 Factsheet

.fact
  .title: strong Title
  .description Hacker Experience 2

.fact
  .title: strong Genres
  .description: ul
    li MMO real-time strategy
    li Hacking simulation
    li Virtual open world
    li Indie game

.fact
  .title: strong Developer
  .description: a(href="https://neoartlabs.com") Neoart Labs

.fact
  .title
    strong Release date 
    small (expected)
  .description December 2016

.fact
  .title: strong Platforms
  .description: ul
    li Windows, Mac, Linux
    li Web Browser, Steam
    li iOS, Android, WP

.fact
  .title: strong Early-bird price
  .description From $10 one-off

.fact
  .title: strong Final price
  .description $30 one-off or $5/month

.fact
  .title: strong Relevant links
  .description: ul
    li: a(href="https://hackerexperience.com.br") Game website
    li: a(href="#") Crowdfunding
    li: a(href="https://letsbuildagame.org") Let's build a game

.fact
  .title: strong Social
  .description: ul.buttons
    li: a(href="https://facebook.com/HackerExperience")
      i.fa.fa-facebook-square.fa-2x
    li: a(href="https://twitter.com/HackerExp")
      i.fa.fa-twitter.fa-2x
    li: a(href="https://reddit.com/r/HackerExperience")
      i.fa.fa-reddit-alien.fa-2x
    li: a(href="https://google.com/+HackerExperience")
      i.fa.fa-google-plus.fa-2x

.fact
  .title: strong Contact
  .description: ul.buttons
    li: a(href="mailto:contact@hackerexperience")
      i.fa.fa-envelope.fa-2x
    li: a(href="tel:18444225953")
      i.fa.fa-phone.fa-2x
