h2 The Hacker Experience Team

.team-member
  .profile-img
    img(src="https://cdn.hackerexperience.com/team/renato.jpg").img-responsive
    .member-social
      a(href="mailto:renato@hackerexperience.com"  target="_blank")
        .fa.fa-envelope
      a(href="tel:+14158004943"  target="_blank")
        .fa.fa-phone
      a(href="https://r.ena.to"  target="_blank")
        .fa.fa-user
      a(href="https://fb.com/renato.massaro"  target="_blank")
        .fa.fa-facebook-square
      a(href="https://twitter.com/RenatoMassaro"  target="_blank")
        .fa.fa-twitter
  .profile-bio
    .member-name Renato Massaro
    .member-role CTO &amp; Developer
    .member-bio
      p
        | Creator of the Hacker Experience brand, Renato is a software
        | developer and systems administrator.
      p
        | At work and on his free time, Renato loves playing around with
        | distributed systems, operational systems, databases and
        | theoretical computer science. 
      p
        | He is also a free software enthusiast and has spoken on some
        | conferences in Brazil, including 
        em Campus Party Brasil 
        | and 
        em Fórum Internacional de Software Livre
        | .
.team-member
  .profile-img
    img(src="https://cdn.hackerexperience.com/team/charlotte.jpg").img-responsive
    .member-social
      a(href="mailto:mememori@hackerexperience.com"  target="_blank")
        .fa.fa-envelope
      a(href="https://github.com/mememori")
        .fa.fa-github
      a(href="https://twitter.com/the_mememori" target="_blank")
        .fa.fa-twitter
  .profile-bio
    .member-name Charlotte Oliveira
    .member-role Lead Developer
    .member-bio
      p
        | Passionate backend developer with 8 years of experience with
        | software development.
      p
        | Charlotte likes to talk about functional programming,
        | distributed systems and game development
.team-member
  .profile-img
    img(src="https://cdn.hackerexperience.com/team/allan.jpg").img-responsive
    .member-social
      a(href="mailto:aj@hackerexperience.com" target="_blank")
        .fa.fa-envelope
      a(href="https://github.com/hails" target="_blank")
        .fa.fa-github
      a(href="https://twitter.com/noneisone" target="_blank")
        .fa.fa-twitter
  .profile-bio
    .member-name Allan Jorge
    .member-role Developer
    .member-bio 
      p
        | Allan Jorge is a backend developer who loves programming language 
        | theory, theory of computation and functional programming.
